.work-experience-resume-section {
    margin: 0 3rem 0 3rem;
}

.company-and-date {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 550;
    margin-bottom: 0.2rem;
}

.position-and-location {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    margin-bottom: 0.8rem;
}

.job-description {
    font-size: 0.85rem;
    font-weight: 360;
    margin-bottom: 1rem;
    white-space: pre-wrap;
}
