.app {
    display: flex;
    justify-content: center;
}

.main-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(200px, 500px) minmax(300px, 793px);
    grid-template-rows: auto;
}